{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    {% block title  %}
    <title>Welcome to PyProfile!</title>
    {% endblock title%}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="https://d29fhpw069ctt2.cloudfront.net/icon/image/84627/preview.svg" type="image/x-icon">
</head>
<body>
{% block content %}

{% endblock %}
</body>
</html>