{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!--    <link rel="stylesheet" type="text/css" href="{% static 'style.css'%}">-->
    <link rel="stylesheet" type="text/css" href="{% static 'navbar_sidebar_style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'login_style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'index_style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'chat_style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'users_style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'notifications_style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'general.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="icon" href="{% static 'icon.svg' %}" type="image/x-icon">

    {% block title  %}
    <title>Welcome to PyProfile!</title>
    {% endblock title%}



</head>
<body>
    {% if messages %}
    <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            {% for message in messages %}
                {{ message }}
            {% endfor %}
    </div>
    {% endif %}
{% block content %}

{% endblock %}
</body>
</html>