{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    {% block title  %}
    <title>Welcome to PyProfile!</title>
    {% endblock title%}
<!--    <link rel="stylesheet" type="text/css" href="{% static 'style.css'%}">-->
    <link rel="stylesheet" type="text/css" href="{% static 'navbar_sidebar_style.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'login_style.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'chat_style.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'users_style.css'%}">
        <link rel="stylesheet" type="text/css" href="{% static 'general.css'%}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="icon" href="https://d29fhpw069ctt2.cloudfront.net/icon/image/84627/preview.svg" type="image/x-icon">


</head>
<body class="body-not-logged-in">
    {% if messages %}
    <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            {% for message in messages %}
                {{ message }}
            {% endfor %}
    </div>
    {% endif %}
{% block content %}

{% endblock %}
</body>
</html>