{% extends 'website/base.html' %}
{% load static %}

{% block title %}
{% include 'website/navbar.html' %}


<title xmlns="http://www.w3.org/1999/html"> Welcome to PyProfile! </title>
{% endblock title %}




{% block content %}
{% include 'website/sidebar.html' %}
<div class="entire-index-div">
    <div class="index-left">
        <a href="{% url 'friend_request'%}">Friend's requests</a> <br>
        <a href="{% url 'chat' %}">Chat</a>
    </div>

    <div class="index-middle">
        <div class="add-post-div">
          <form method="POST">
              {%csrf_token%}
          <div class="add-post-input-div">
              <input type='text' name='post_content' class='my-post-content-class' placeholder="What's up?">
          </div>
          <div class="add-post-button-div">
              <button type="submit" class="publish-post-button">Publish</button>
          </div>
        </form>
        </div>

        {% for post in posts %}
        <div class="show-post-div">
          <div class="post-author-menu-div">
            <div class="post-author-image-div">
                <img src="{{ post.author.profile.profile_picture.url }}">
            </div>
            <div class="post-author-div">
                <a href="{% url 'profile' post.author.user_name %}">
                    <p>{{ post.author.first_name }}  {{ post.author.last_name }}</p>
                </a>
            </div>
            {% if post.edited == True%}
                <div class="post-date-div">
                  <p>{{post.post_date}} (Edited)</p>
                </div>
            {% else %}
              <div class="post-date-div">
                  <p>{{post.post_date}}</p>
                </div>
            {% endif %}
            <div class="post-menu-div">
            <div class="menu-item"></div>
              <div class="dropdown-container" tabindex="-1">
                <div class="three-dots"></div>
                  <div class="dropdown-post">
                  {% if request.user == post.author %}
                    <a href="{% url 'delete_post' post.id %}"><div class="bg">Delete</div></a>
                    <a href="{% url 'update_post' post.id %}"><div class="bg">Update</div></a>
                  {% else %}
                    <a href="{% url 'report_post' post.id %}"><div class="bg">Report</div></a>
                  {% endif %}
                  </div>
                </div>
              </div>
            </div>



          <div class="post-content-div">
            <p>{{ post.post_content }}</p>
          </div>
          <div class="post-add-like-div">
            <form action="{% url 'like_post' post.id %}" method="POST">
                {% csrf_token %}
                <!--            If that check if currently logged user like post-->
                {% if user not in post.user_likes.all%}
                    <button type="submit" class="like-button" name="post_id_like" value="{{post.id}}">Like <i class="fa-regular fa-thumbs-up"></i></button>
                {% else %}
                    <button type="submit" class="like-button" name="post_id_like" value="{{post.id}}" style="color: lightgreen;">You like that! <i class="fa-regular fa-thumbs-up" style="color: lightgreen;"></i></button>
                {% endif %}
            </form>
          </div>
          <hr class="line-under-post-content">
          <div class="post-likes-names-div">

            {% if post.likes == 1 %}
                <p>{{post.likes}} Like</p>
            {% else %}
                <p>{{post.likes}} Likes</p>
            {% endif %}
    <!--            If that shows who Liked post-->
    <!--        {% for likes in post.likes.all %}-->
    <!--            <a href="{% url 'profile' likes.user_name %}" style="color: gold">-->
    <!--                {{likes.first_name}}-->
    <!--                {{likes.last_name}}-->
    <!--            </a>-->
    <!--          {% endfor %}-->
          </div>
          <div class="post-comments-amount">
            {% if post.comments.all.count == 1 %}
                <p>{{post.comments.all.count}} Comment</p>
            {% else %}
                <p>{{post.comments.all.count}} Comments</p>
            {% endif %}
          </div>
          <hr class="line-under-post-content">
        {% for replies in post.comments.all %}
          <div class="show-comments-div">

                <div class="comment-author-image-div">
                    <a href="{% url 'profile' replies.reply_author.user_name %}">
                        <img src="{{ replies.reply_author.profile.profile_picture.url }}">
                    </a>
                </div>
                <div class="comment-author-div">
                      <a href="{% url 'profile' replies.reply_author.user_name %}">
                          <p>
                          {{replies.reply_author.first_name}}
                          {{replies.reply_author.last_name}}
                          </p>
                      </a>
                      <p class="small-paragraph">{{replies.reply_date|timesince}} ago</p>
                </div>
                <div class="comment-content-div">
                  <p>{{replies.reply_content}}</p>
                </div>
          </div>
        {% endfor %}
          <div class="post-add-comment-entire-div">
            <div class="current-user-image-div">
              <img src="{{request.user.profile.profile_picture.url}}">
            </div>
            <div class="post-add-comment-div">
              <form method="POST">
                {%csrf_token%}
                <input type="text" name="reply_content"  class="my-reply-content-class" placeholder="Add a comment">
                <button type="submit" hidden="true"></button>
                <input type="hidden" name="post_id" value="{{post.id}}">
              </form>
            </div>
          </div>
        </div>
    {% endfor %}
    </div>
    <div class="index-right">
    </div>
</div>
{% endblock content %}