{% extends 'website/base.html' %}


{% block title %}
{% include 'website/navbar.html' %}


<title xmlns="http://www.w3.org/1999/html"> Welcome to PyProfile! </title>
{% endblock title %}



{% block content %}

<div class="index-left"></div>

<div class="index-middle">
<!--<div>-->
<!--    <span style="text-align:center;">-->
<!--     {% if messages %}-->
<!--            <ul class="messages">-->
<!--                {% for message in messages %}-->
<!--                    <li>{{ message }}</li>-->
<!--                {% endfor %}-->
<!--            </ul>-->
<!--    {% endif %}-->
<!--    </span>-->
<!--    -->
    <form method="POST">
        {% csrf_token %}
        <div id="add-post-div">

        <div id="input-div-etc">
        <input type='text' name='post_content' class='my-post-content-class'> <br><br>

        </div>
        <div id="emoji-button-etc">
            <button type="submit" value="Publish" class="publish-post-button">Publish</button>
        </div>
        </div>
    </form>
<!--<div id="add-post-div">-->

<!--    <div id="input-div-etc">-->
<!--    <input  class="post-input" type="text" placeholder="Share a news with your friends!">-->

<!--    </div>-->
<!--    <div id="emoji-button-etc">-->
<!--        <button class="publish-post-button" type="submit">Publish</button>-->
<!--    </div>-->

<!--</div>-->
    <br/>
<!-- Show posts    -->
    {% for post in posts %}

    <div class="post">

        <div id="post-author">
        <img style='float: left;' class='small_profile_picture' src="{{ post.author.profile.profile_picture.url }}">


        <span style="float:left;">
            <a href="{% url 'profile' post.author.id %}">
                <h4 style="padding-left: 10px;"> {{ post.author.first_name }}  {{ post.author.last_name }} </h4>
            </a>
        </span>
        </div>

        <!--Delete/Update - 3dots -->
    <div class="dropdown-container" tabindex="-1">
        <div class="three-dots"></div>
    <div class="dropdown">
        <a href="{% url 'delete_post' post.id %}"><div>Delete</div></a>
        <a href="{% url 'update_post' post.id %}"><div>Update</div></a>
    </div>
    </div>

        <br>
        <div class="post-text">
            <span style="text-align: center;"><h2>{{ post.post_content }}</h2></span>
            <hr style="opacity:30%;">
<!--            <i class="fa fa-thumbs-up fa-2x" aria-hidden="true" style="float:left; padding-left: 10px; margin-right: 10px; color:whitesmoke;"></i>-->
            <form action="{% url 'like_post' post.id %}" method="post">
                {% csrf_token %}
                <!--            If that check if currently logged user like post-->
            {% if user not in post.likes.all%}
                <button type="submit" class="like-btn-without-bg" name="post_id_like" value="{{post.id}}" style="color: white">Like <i class="fa-regular fa-thumbs-up" style="color:white;"></i></button>
            {%else%}
                <button type="submit" class="like-btn-without-bg" name="post_id_like" value="{{post.id}}" style="color: Green;">You liked that! <i class="fa-regular fa-thumbs-up" style="color:Green;"></i></button>
            {%endif%}

            </form>


<!--            If that counts Likes-->
            {% if post.likes.all.count == 1 %}
                {{post.likes.all.count}} Like
            {% else %}
                {{post.likes.all.count}} Likes
            {% endif %}
<!--            If that shows who Liked post-->
            {% for likes in post.likes.all %}
            <span style="color: gold">
                {{likes.first_name}}
                {{likes.last_name}}
            </span>
            {% endfor %}
<!--            {{post.post_likes.all}}-->
        </div>


<!--    Add a comment to the post -->
        <form method="post">
            {%csrf_token%}
            <input type="hidden" name="post_id" value="{{post.id}}">
            <input  type="text" name="reply_content"  class="my-reply-content-class" placeholder="Add a comment">
            <button type="submit" hidden="True">Add</button>
        </form>


<!-- Show comments  -->
        {% for replies in post.comments.all %}
            <p>{{replies.reply_date|timesince}} ago</p>
                <a href="{% url 'profile' replies.reply_author.id %}">
                    {{replies.reply_author.first_name}}
                    {{replies.reply_author.last_name}}
                    <img class='small_profile_picture' src="{{ replies.reply_author.profile.profile_picture.url }}">
                </a>
            <span style="color:gold;">{{replies.reply_content}}</span>
        {% endfor %}

    </div>
    <br><br><br>

    {% endfor %}


</div>

<div class="index-right">
    Friends:
    <br>
    <br>
    {% for friend in friends %}

            <img class="small_profile_picture" src="{{friend.profile_picture.url}}">
                {{friend.first_name}}
                {{friend.last_name}}
    <br>


    {% endfor %}
</div>


{% endblock content %}



