{% extends 'website/base-not-logged-in.html' %}
{% load static %}

{% block title %}
    <title>PyProfile - Login</title>
{% endblock title %}

{% block content %}

<div class="entire-div">
    <div class="top-div">
        <img class="pyprofile-logo-login" src="{% static 'PyProfile.png' %}">

    </div>
    <div class="middle-div">
        <form method="POST">
            {%csrf_token%}
                <i class="fa fa-user-circle fa-2x" aria-hidden="true" style="color:white;">
                <input class="login-input" name="email" type="email">
                </i>
                <i class="fa fa-lock fa-2x" aria-hidden="true" style="color:white;">
                <input class="password-input" name="password" type="password">
                </i>
                <button type="submit" class="login-button">Login</button>
        </form>

        <p class="paragraph-under-login">Don't you have an account yet? Click <a href="{% url 'register' %}" style="color:gold;">Here</a></p>
        <p>Forgot your password? Click <a href="{% url 'reset_password' %}" style="color:gold;">Here</a></p>

    </div>

</div>

{% endblock content %}