{% extends 'website/base.html' %}
{% load static %}

{% block title %}
    <title>PyProfile - Login</title>
{% endblock title %}

{% block content %}




<div id="PyProfile-logo">
        <img class="PyProfile_main_website" src="{% static 'PyProfile.png' %}">
</div>



<div class="login-div">
    <form method="POST">
    {%csrf_token%}
        <i class="fa fa-user-circle fa-2x" aria-hidden="true" style="color:white;">
        <input class="my-username-class" type="email" name="username" autofocus="" autocapitalize="none" autocomplete="username"
            maxlength="150" class="my-username-class"  id="id_username" placeholder="Email"></i>

        <br>

        <i class="fa fa-lock fa-3x" aria-hidden="true" style="color:white; margin-top:15px;">
        <input class="my-password-class" type="password" name="password" autocomplete="current-password"
               class="my-password-class"  id="id_password" placeholder="Password"></i>
        <br>



        <input type="submit" id="login-button" value="Login" style="margin: 50px 0px 40px 50px;">
        </br>
        </br>
        <span style="font-size:17px; margin-left:30px; color:white;">Don't you have an account yet? Click <a href="{% url 'register' %}" style="color:gold;">here</a></span>
        <br><br>
        <span style="font-size:17px; margin-left:30px; color:white;">Forgot your password? Click <a href="{% url 'reset_password' %}" style="color:gold;">here</a></span>

    </form>

    </div>

    </form>

    </div>


{% endblock content %}