{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css'%}">
</head>
<body>

<div id="left_div_login">
<img class="fb_logo" src="https://static.xx.fbcdn.net/rsrc.php/y8/r/dF5SId3UHWd.svg" alt="Facebook">
<br>
    <h4>Connect with friends and the world around you on Facebook.</h4>
</div>

<div id="Log_in_div">
 <form method="post">
        {%csrf_token%}
     <div id="login_password_placeholder">
            <input class='input_login_password' type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username"
            maxlength="150" class="my-username-class"  id="id_username" placeholder="Email or phone number"></p>



            <input class='input_login_password' type="password" name="password" autocomplete="current-password"
                class="my-password-class"  id="id_password" placeholder="Password"></p>
     </div>
        <input id='Log_in_button' type="submit" value="Log In">
    </form>
    <br/>
    <a href="#">Forgot password?</a>
    <div id="horizontal_line_login"></div>
    <button id='Create_new_account_button' type="submit"><a id='btn' href="{% url 'register' %}">Create new account</a></button>
</div>

<div id="short_text_under_login">
    <b>Create a Page</b> for a celebrity, brand or business.
</div>

</body>
</html>