{% load static %}

<div class="navbar-entire-div">
    <div class="left-section">
        <a href="{% url 'index' %}"><img class="pyprofile-logo" src="{% static 'PyProfile.png' %}" alt="logo"></a>
    </div>
    <div class="middle-section">
        <i class="fa fa-search" class="loupe-icon" aria-hidden="true" style="color: #5c5d71;"></i>
        <form class="search-form" method="post" action="{% url 'search_users' %}">
            {% csrf_token %}
            <input class="search-bar" type="search" placeholder="Search friends" name="search">
            <button type="submit" hidden="hidden">Submit</button>
        </form>
    </div>
    <div class="right-section">
        <img class="current-user-avatar" src="{{ request.user.profile.profile_picture.url }}">
        <p class="current-user-name"><a href="{% url 'profile' user.user_name %}">{{user.first_name}} {{user.last_name}}</a></p>


        <div class="menu-item"></div>
            <div class="dropdown-container" tabindex="-1">
                <div class="three-dots"></div>
                <div class="dropdown">
                    <a href="{%url 'logout'%}"><div class="bg">Logout</div></a>
                    <a href="{% url 'profile_settings' %}"><div class="bg">Settings</div></a>
              </div>
            </div>
        </div>
</div>
