{% load static %}
<body>
<div class="navbar">
<link rel="stylesheet" type="text/css" href='{% static "style.css" %}'>
<a href="{% url 'index' %}"><img src="{% static 'fb_logo.png' %}" alt="logo"></a>

    <form method="post" action="{% url 'search_users' %}">
        {% csrf_token %}
    <input type="search" placeholder="Search friends" name="search">
        <button type="submit">Submit</button>
    </form>

    <span style="padding-left: 80em;">
    <img class='small_profile_picture' src="{{ user.profile.profile_picture.url }}">
    <a href="{% url 'profile_settings' %}">{{user.first_name}} {{user.last_name}}</a>
    <a href="{%url 'logout'%}">Logout</a>
        </span>

</div>
</body>