{% extends 'website/base.html' %}
{% load static %}
{% block title %}
<title>PyProfile - Join us!</title>
{% endblock title %}

{% block content %}
<div id="PyProfile-logo-register">
        <img class="PyProfile_main_website" src="{% static 'PyProfile.png' %}">
</div>

    <div id="register-div">
    <form method="post">
        {%csrf_token%}
            Email: <br>{{form.email}} <br><br>
            First name:<br><input type='text' name='first_name' class='my-firstname-class'> <br><br>
            Last name:<br><input type='text' name='last_name' class='my-lastname-class'> <br><br>
            Mobile: <br><input type='text' name='mobile' class='my-mobile-class'> <br><br>
            Password: <br>{{form.password1}} <br><br>
            Password confirmation: <br>{{form.password2}} <br><br>

        <input class='register-button' type="submit" value="Register">
    </form>
        <br>
        Click <a href="{%url 'login'%}" style="color:gold;">here</a> to login!
    </div>

{% endblock content %}