{% extends 'website/base-not-logged-in.html' %}
{% load static %}
{% block title %}
<title>PyProfile - Join us!</title>
{% endblock title %}

{% block content %}
<div class="entire-div">
    <div class="top-div">
        <img class="pyprofile-logo-login" src="{% static 'PyProfile.png' %}">
    </div>

    <div class="middle-register-div">
    <form method="post">
        {%csrf_token%}
        <p>Email:</p>
        <input type="email" name="email" class="register-input">
            <p>First name:</p>
        <input type='text' name='first_name' class='register-input'>
            <p>Last name:</p>
        <input type='text' name='last_name' class='register-input'>
            <p>Password:</p>
        <input type="password" name="password1" class="register-input">
            <p>Password confirmation:</p>
        <input type="password" name="password2" class="register-input">

        <input class='register-button' type="submit" value="Register">
    </form>
        <p>Click <a href="{% url 'login' %}" style="color:gold;">Here</a> to login!</p>
    </div>
</div>

{% endblock content %}