{% extends 'website/base-not-logged-in.html' %}
{% load static %}

{% block title %}
    <title>PyProfile - Login</title>
{% endblock title %}

{% block content %}


<div class="entire-div">
    <div class="top-div">
            <img class="pyprofile-logo-login" src="{% static 'PyProfile.png' %}">
    </div>

    <div class="reset-password-title-div">
        <h3>Type your email to reset your password!</h3>
    </div>
    <div class="middle-reset-div">
        <form method="POST">
            {%csrf_token%}
            <p>Email:</p>
            {{form.email}}
                <button class="login-button" type="submit">Reset</button>
        </form>

        Click <a href="{%url 'login'%}" style="color:gold;">here</a> to login!
    </div>
</div>




{% endblock content %}