{% extends 'website/base-not-logged-in.html' %}
{% load static %}

{% block title %}
    <title>PyProfile - Login</title>
{% endblock title %}

{% block content %}




<div class="entire-div">
    <div class="top-div">
            <img class="pyprofile-logo-login" src="{% static 'PyProfile.png' %}">
    </div>

    <h2>Enter new password</h2>

    <p>Please enter your new password twice so we can verify you typed it in correctly.</p>

    <div class="middle-div">
        <form method="POST">
        {%csrf_token%}

        {{form}}
        <input type="submit" value="Update password">
        </form>
    </div>

</div>




{% endblock content %}