{% extends 'website/base.html' %}
{% load static %}

{% block title %}
    <title>PyProfile - Login</title>
{% endblock title %}

{% block content %}




<div id="PyProfile-logo">
        <img class="PyProfile_main_website" src="{% static 'PyProfile.png' %}">
</div>

<h2>Enter new password</h2>

<p>Please enter your new password twice so we can verify you typed it in correctly.</p>

<div class="reset-password-div">
    <form method="POST">
    {%csrf_token%}

    {{form}}
    <input type="submit" value="Update password">
    </form>
    </div>

    </form>



{% endblock content %}