{% extends 'website/base-not-logged-in.html' %}
{% load static %}

{% block title %}
    <title>PyProfile - Login</title>
{% endblock title %}

{% block content %}




<div class="entire-div">
    <div class="top-div">
            <img class="pyprofile-logo-login" src="{% static 'PyProfile.png' %}">
    </div>



    <div class="middle-div">

        <h2>Password reset complete</h2>
        <p>Your password has been set. You may go ahead and log in now.</p>
        <br>

        <a href="{% url 'login' %}"><span style="color:gold;">Log in</span></a>



    </div>

</div>



{% endblock content %}