{% extends 'website/base.html' %}
{% load static %}

{% block title %}
    <title>PyProfile - Login</title>
{% endblock title %}

{% block content %}




<div id="PyProfile-logo">
        <img class="PyProfile_main_website" src="{% static 'PyProfile.png' %}">
</div>



<div class="reset-password-div">
    <h3>Type your email to reset your password!</h3>
    <form method="POST">
    {%csrf_token%}

    {{form}}
        <br><br>

    <input type="submit" id="login-button" value="Send email">
    </form>
    <br>
    <br>
    Click <a href="{%url 'login'%}" style="color:gold;">here</a> to login!
</div>





{% endblock content %}