{% extends 'website/base.html' %}
{% load static %}

{% block title %}
    <title>PyProfile - Login</title>
{% endblock title %}

{% block content %}




<div id="PyProfile-logo">
        <img class="PyProfile_main_website" src="{% static 'PyProfile.png' %}">
</div>



<div class="reset-password-div">

    <h2 style="color:gold;">Password reset sent</h2>
    <br>
    <p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>

    <br>

    <p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>



    </form>
    </div>

    </form>

    </div>


{% endblock content %}