{% extends 'website/base.html' %}


{% block title %}
{% include 'website/navbar.html' %}


    <title> Welcome to PyProfile! </title>
{% endblock title %}



{% block content %}
{% if request.user == post.author %}
    <div class="edit-post-entire">
        <div class="edit-post-title">
            <h1>Edit your Post!</h1>
        </div>
        <div class="edit-post">
            <form method="POST">
                {% csrf_token %}
                    {{form_post}}
                <button type="submit" class="button-standard" href="{% url 'detail_view' post.id%}">Edit</button>
            </form>
        </div>
    </div>
{% else %}
<div class="edit-post-title">
    <h1>You can't do that!</h1>
</div>
{% endif %}
{% endblock content %}



