{% extends 'website/base.html' %}

{% block title %}
{% include 'website/navbar.html' %}
<title>Friend request</title>
{% endblock title%}

{% block content %}




<div class="container-fluid content">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header" id="friend-name">&nbsp;</div>
					<div class="card-body height3">
						<ul class="chat-list" id="chat-list-id">
							<p class="start-conversation">&nbsp;</p>

							{% for chat in chats %}
								{% if chat.from_user == request.user.email %}
								<div class="msg-right">
									<li class="out">
										<div class="chat-img">
											<img alt="Avtar" src="{{ user.profile.profile_picture.url }}">
										</div>
										<div class="chat-body">
											<div class="chat-message">
												<h5>Me</h5>
												<p>{{chat.messag_body}}</p>
											</div>
										</div>
									</li>
								</div>


								{% elif chat.from_user == friend.email %}

								<div class="msg-left">
									<li class="in">
										<div class="chat-img">
											<img alt="Friend's avatar" src="{{friend_profile_picture.profile_picture.url}}">
										</div>
										<div class="chat-body">
											<div class="chat-message">
												<h5>{{ chat.from_user }}</h5>
												<p>{{ chat.messag_body }}</p>
											</div>
										</div>
									</li>
								</div>
							{% else %}
							błąd
							{% endif %}
							{% endfor %}
						</ul>
					</div>
					<div class="card-footer">
						<div class="row">
							<div class="col-md-10">
								<textarea type="text" id="message" placeholder="Type a message"></textarea>
							</div>
							<div class="col-md-2">
								<button id="send-btn-id">Send Message</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	{{ friend|json_script:"friend" }}
    {{ me|json_script:"me" }}

    <script>

		/* send message*/
        document.getElementById('send-btn-id').onclick = function (e) {
        	const msg = document.getElementById('message').value;
          	chatSocket.send(JSON.stringify({
            	'message': msg,
				'user': me,
				'friend': friendName
	    	}));
          	document.getElementById('message').value = "";
        };

        const friendName = JSON.parse(document.getElementById('friend').textContent);
        const me = JSON.parse(document.getElementById('me').textContent);

		/* set friend profile name */
		document.getElementById('friend-name').innerHTML = friendName['first_name'];

		/* start conversation */
		document.querySelector('.start-conversation').innerHTML = 'Start conversation with <strong>'+friendName['first_name']+'</strong>';

		/* connection request */
        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + friendName['user_name']
            + '/'
        );

		chatSocket.onopen = function(e) {
            console.log('Chatroom socket CONNECTED');
        }

        chatSocket.onmessage = function (e) {
            const data = JSON.parse(e.data);
			var class_name = 'in';
			var profile_image = '{{friend_profile_picture.profile_picture.url}}';

			if(me['user_name'] == data.user['user_name']) {
              	data.user['first_name'] = 'Me';
				class_name = 'out';
				profile_image = '{{ user.profile.profile_picture.url }}';

            }

			var chat_list = document.querySelector('#chat-list-id');
			var chat = "<li class=\""+class_name+"\"><div class=\"chat-img\"><img alt=\"Avtar\" src=\""+profile_image+"\"></div><div class=\"chat-body\"><div class=\"chat-message\"><h5>"+data.user['first_name']+"</h5><p>"+data.message+"</p></div></div></li>";

			chat_list.innerHTML += chat;
        }
    </script>



{% endblock %}

