<div>

        {% for replies in reply %}
            {{replies.reply_date|timesince}} ago
            <a href="{% url 'profile' replies.reply_author.id %}">
                {{replies.reply_author.first_name}}
                {{replies.reply_author.last_name}}
                <img class='small_profile_picture' src="{{ replies.reply_author.profile.profile_picture.url }}">
            </a>
            {{replies.reply_content}}
            id - {{replies.post.id}}
        {% endfor %}

    <form method="post">
        {%csrf_token%}
        <input  u:model.lazy="reply_content"  id="write-a-reply" type="text" placeholder="Add a comment">
        <button u:click='reply_submit' type="submit" hidden="True">Add</button>
    </form>

</div>
