{% extends 'website/base.html' %}

{% block title %}
{% include 'website/navbar.html' %}
<title>Profile Settings</title>
{% endblock title%}

{% block content %}
<div>
    {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
        {% endif %}
</div>
    <form method="post" enctype="multipart/form-data">
        {%csrf_token%}
        <div class="edit-post">
            First name: {{p_form.first_name}}<br>
            Last name: {{p_form.last_name}}<br><br><br>
            {{p_form.profile_picture}}<br><br>
            <input type="submit" value="Zapisz">
        </div>

        <br/>
    </form>
{% endblock %}