{% extends 'website/base.html' %}
{% block title%}
{% include 'website/navbar.html' %}
<title>{{profiles.first_name}} {{profiles.last_name}} - Profile</title>
{% endblock title %}


{% block content %}

<br>
    <span style="font-family: Montserrat; color:white;">
        <img src="{{profiles.profile_picture.url}}" class="mediun_profile_picture">
        <h2>
        {{profiles.first_name}}
        {{profiles.last_name}}<br>

        {{profiles.user.email}}


            <br>

            {% if request.user.id != profiles.id and Friend_Request_exists == False and is_friend == False%}
            <form action="{% url 'send_friend_request' profiles.id%}" method="POST">
                {% csrf_token %}
            <button type="submit">Send Friend Request</button>
                </form>

            {% elif Friend_Request_exists %}

                {% for req in Friend_request_show %}
            <form action="{% url 'cancel_friend_request' req.id %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="profile_id" value="{{profiles.id}}">


                    <input type="submit" value="Cancel">
                </form>
                {%endfor%}
            {%elif request.user.id == profiles.id%}
            {%else%}
            That's your friend!
            <form action="{% url 'delete_friend' profiles.id %}" method="POST">
                {% csrf_token %}
                <input type="submit" value="Delete Friend">

            </form>
            {% endif %}




        </h2>
    </span>

<br>

    <!-- Show posts    -->
    {% for post in user_posts %}

    <div class="post">

        <div id="post-author">
        <img style='float: left;' class='small_profile_picture' src="{{ post.author.profile.profile_picture.url }}">


        <span style="float:left;">
            <a href="{% url 'profile' post.author.id %}">
                <h4 style="padding-left: 10px;"> {{ post.author.first_name }}  {{ post.author.last_name }} </h4>
            </a>
        </span>
        </div>

        <!--Delete/Update - 3dots -->

    <div class="dropdown-container" tabindex="-1">
        <div class="three-dots"></div>
    <div class="dropdown">
        <a href="{% url 'delete_post' post.id %}"><div>Delete</div></a>
        <a href="{% url 'update_post' post.id %}"><div>Update</div></a>
    </div>
    </div>

        <br>
        <div class="post-text">
            <span style="text-align: center;"><h2>{{ post.post_content }}</h2></span>
            <hr style="opacity:30%;">
<!--            <i class="fa fa-thumbs-up fa-2x" aria-hidden="true" style="float:left; padding-left: 10px; margin-right: 10px; color:whitesmoke;"></i>-->
            <form action="{% url 'like_post' post.id %}" method="post">
                {% csrf_token %}
                <!--            If that check if currently logged user like post-->
            {% if user not in post.likes.all%}
                <button type="submit" class="like-btn-without-bg" name="post_id_like" value="{{post.id}}" style="color: white">Like <i class="fa-regular fa-thumbs-up" style="color:white;"></i></button>
            {%else%}
                <button type="submit" class="like-btn-without-bg" name="post_id_like" value="{{post.id}}" style="color: Green;">You liked that! <i class="fa-regular fa-thumbs-up" style="color:Green;"></i></button>
            {%endif%}

            </form>


<!--            If that counts Likes-->
            {% if post.likes.all.count == 1 %}
                {{post.likes.all.count}} Like
            {% else %}
                {{post.likes.all.count}} Likes
            {% endif %}
<!--            If that shows who Liked post-->
            {% for likes in post.likes.all %}
            <a href="{% url 'profile' likes.id %}" style="color: gold">
                    {{likes.first_name}}
                    {{likes.last_name}}
                </a>
            {% endfor %}
<!--            {{post.post_likes.all}}-->
        </div>


<!--    Add a comment to the post -->
        <form method="post">
            {%csrf_token%}
            <input type="hidden" name="post_id" value="{{post.id}}">
            <input  type="text" name="reply_content"  class="my-reply-content-class" placeholder="Add a comment">
            <button type="submit" hidden="True">Add</button>
        </form>


<!-- Show comments  -->
        {% for replies in post.comments.all %}
            <p>{{replies.reply_date|timesince}} ago</p>
                <a href="{% url 'profile' replies.reply_author.id %}">
                    {{replies.reply_author.first_name}}
                    {{replies.reply_author.last_name}}
                    <img class='small_profile_picture' src="{{ replies.reply_author.profile.profile_picture.url }}">
                </a>
            <span style="color:gold;">{{replies.reply_content}}</span>
        {% endfor %}

    </div>
    <br><br><br>




</div>


    </div>

<br><br><br>

    {% endfor %}
{% endblock content %}