{% extends 'website/base.html' %}
{% block title%}
{% include 'website/navbar.html' %}
<title>{{profiles.first_name}} {{profiles.last_name}} - Profile</title>
{% endblock title %}


{% block content %}
<div class="container">
  <div class="profile-header">
    <div class="profile-img">
      <img src="{{profiles.profile_picture.url}}" width="200" alt="Profile Image">
    </div>
    <div class="profile-nav-info">
      <h3 class="user-name">{{profiles.first_name}} {{profiles.last_name}}</h3>
      <div class="address">
        {% if profiles.city %}
          <p id="state" class="state"><i class="fa-solid fa-city" style="color: white;"></i> {{profiles.city}}</p>
        {%endif%}
<!--        <span id="country" class="country">{% if profiles.birth_date %}{{profiles.birth_date}}{% endif %}</span>-->
      </div>

    </div>
  </div>

  <div class="main-bd">
    <div class="left-side">
      <div class="profile-side">
        <p class="mobile-no"><i class="fa fa-phone" style="color: white;"></i> {{profiles.mobile}}</p>
        <p class="user-mail"><i class="fa fa-envelope" style="color: white;"></i> {{profiles.user.email}}</p>
        {% if profiles.gender == "Male" %}
          <p class="user-mail"><i class="fa fa-mars" style="color: white;"></i> Male</p>
        {% elif profiles.gender == "Female" %}
          <p class="user-mail"><i class="fa fa-venus" style="color: white;"></i> Female</p>
        {% endif %}

        {% if profiles.birth_date %}
          <p class="user-birth-date"><i class="fa fa-cake-candles" style="color: white;"></i> {{profiles.birth_date}}</p>
        {% endif %}
        <div class="user-about-me">
          <h3>About me</h3>
          <p class="about-me">
            {% if profiles.about_me %}
              {{profiles.about_me}}
            {% else %}
              Welcome to my profile  <i class="fa fa-face-smile" style="color: white;"> </i>
            {% endif %}
          </p>
        </div>
        {% if profiles.user == request.user %}
        {% else %}
        <div class="profile-btn">
          <a href="{% url 'chatroom' profiles.user.user_name%}" type="button" class="chatbtn" id="chatBtn"><i class="fa fa-comment" style="color: white;"></i> Chat</a>
<!--          Start -->
          {% if request.user.id != profiles.id and friend_request_sent_exists == False and friend_request_received_exists == False and is_friend == False %}
            <form action="{% url 'send_friend_request' profiles.id%}" method="POST">
                {% csrf_token %}
              <button type="submit" class="createbtn-green"><i class="fa fa-plus" style="color: white;"></i> Add to friend</button>
            </form>
            {% elif friend_request_sent_exists == True %}
                {% for req in friend_request_sent %}
                <form action="{% url 'cancel_friend_request' req.id %}" method="POST">
                  {% csrf_token %}
<!--                  <input type="hidden" name="profile_username" value="{{profiles.user.user_name}}">-->
                    <button type="submit" class="createbtn"> <i class="fa fa-user" style="color: white;"></i>Cancel request</button>
                  </form>
                {%endfor%}
            {% elif friend_request_received_exists == True %}
              {% for req in friend_request_received %}
                <form action="{% url 'accept_friend_request' req.id %}" method="POST">
                  {% csrf_token %}
<!--                  <input type="hidden" name="profile_username" value="{{profiles.user.user_name}}">-->
                    <button type="submit" class="createbtn-green"> <i class="fa fa-check" style="color: white;"></i>Accept request</button>
                </form>
                <form action="{% url 'decline_friend_request' req.id %}" method="POST" style="margin-left: 5px;">
                  {% csrf_token %}
<!--                  <input type="hidden" name="profile_username" value="{{profiles.user.user_name}}">-->
                    <button type="submit" class="createbtn"> <i class="fa fa-x" style="color: white;"></i>Decline request</button>
                </form>
                {%endfor%}
            {%elif request.user.id == profiles.id%}
            {%else%}

            <form action="{% url 'delete_friend' profiles.id %}" class="reset" method="POST">
                {% csrf_token %}
                <button type="submit" class="createbtn"><i class="fa fa-user-slash" style="color: white;"><br></i>Delete friend</button>

            </form>
            {% endif %}
<!--          End-->
        </div>
        {% endif %}
        <div class="user-friends">
          <div class="friend">
            <span class="no-of-user-friend">
              {% if profiles.user.friends.count == 1 %}
                <a href="{% url 'friend_list' profiles.user.user_name %}"><i class="fa fa-user-group" style="color: white;"></i> {{profiles.user.friends.count}} Friend</a>
              {% else %}
                <a href="{% url 'friend_list' profiles.user.user_name %}"><i class="fa fa-user-group" style="color: white;"></i> {{profiles.user.friends.count}} Friends</a>
              {% endif %}
            </span>
            <span class="no-of-user-posts" style="padding-left: 30px;">
              {% if user_posts == 1 %}
                <a href="{% url 'post_list' profiles.user.user_name %}"><i class="fa fa-newspaper" style="color: white;"></i> {{user_posts}} Post</a>
              {% else %}
                <a href="{% url 'post_list' profiles.user.user_name %}"><i class="fa fa-newspaper"style="color: white;"></i> {{user_posts}} Posts</a>
              {% endif %}
            </span>
          </div>
        </div>
      </div>

    </div>
    <div class="right-side">
<!--      <div class="profile-body">-->
<!--        <div class="profile-posts">-->
<!--          <h1>Your Post</h1>-->
<!--          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa quia sunt itaque ut libero cupiditate ullam qui velit laborum placeat doloribus, non tempore nisi ratione error rem minima ducimus. Accusamus adipisci quasi at itaque repellat sed-->
<!--            magni eius magnam repellendus. Quidem inventore repudiandae sunt odit. Aliquid facilis fugiat earum ex officia eveniet, nisi, similique ad ullam repudiandae molestias aspernatur qui autem, nam? Cupiditate ut quasi iste, eos perspiciatis maiores-->
<!--            molestiae.</p>-->
<!--        </div>-->
<!--      </div>-->
    </div>
  </div>
</div>
{% endblock content %}