{% extends 'website/base.html' %}

{% block title %}
{% include 'website/navbar.html' %}
<title>Profile Settings</title>
{% endblock title%}

{% block content %}
<div class="profile-settings-entire-div">
    <div class="edit-profile">
        <form method="post" enctype="multipart/form-data">
            {%csrf_token%}
                <p>First name: {{p_form.first_name}}</p>
                <p>Last name: {{p_form.last_name}}</p>
                <p>Comes from: {{p_form.comes_from}}</p>
                <p>About me: {{p_form.about_me}}</p>
                <p>Birth date: {{p_form.birth_date}}</p>
                <p>Change mobile: {{p_form.mobile}}</p>
                <p>Change gender: {{p_form.gender}}</p>
                <p>Do you want to share your email? {{p_form.email_visibility}}</p>
                <p>Do you want to share your mobile? {{p_form.mobile_visibility}}</p>
                <p>Change profile picture: {{p_form.profile_picture}}</p>
            <button class="save-button" type="submit">Save</button>
        </form>
    </div>
</div>
{% endblock %}