{% extends 'website/base.html' %}
    {% block title %}
    <title> {{search}} - Searching Results</title>
    {% include 'website/navbar.html' %}
    {% endblock title %}

{% block content %}

<p class="search-for-paragraph">You Searched for <span style="color: gold">{{search}}</span>:</p>
<div class="search-users-entire-div">
    {% for users_result in users_results %}
    <div class="search-all-users">
        <div class="search-users-image">
            <a href="{% url 'profile' users_result.user.user_name %}">
                <img class="medium-profile-picture" src="{{users_result.profile_picture.url}}">
            </a>
        </div>
        <div class="search-users-name">
            <a href="{% url 'profile' users_result.user.user_name %}">
                {{users_result}}
            </a>
        </div>
    </div>

    {% endfor %}
</div>

{% endblock content %}