@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

html {
    font-family: 'Montserrat', sans-serif;

}

body {
    padding:0px;
    margin:0px;
    height:100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(to right top, #301a5a, #28215e, #202762, #152c65, #073167);
}

/*LOGIN WEBSITE*/

.PyProfile_main_website {
    height:200px;
    width: auto;
}
#PyProfile-logo {
    text-align: center;
    padding-top:5em;
}


input[type=submit], .button-standard{
    background-color: #212F3D ;
    border-radius: 20px;
    padding-right: 20px;
    padding-left: 20px;
    width:90px;
    height:40px;
    font-size:14px;
    color:whitesmoke;
    font-family: 'Montserrat', sans-serif;


}

input[type=password], input[type=email], input[type=search] {
    border:none;
    outline:none;
    display:inline-block;
    height:54px;
    vertical-align:middle;
    position:relative;
    border-radius:22px;
    width:220px;
    box-sizing:border-box;
    margin-left:10px;
    padding:0 18px;
    color:whitesmoke;
    background-color: #212F3D;
    margin-top:10px;
    font-size:15px;

}

.center {
    text-align:center;
}

.login-div {
    padding-top:5em;
    float:left;
    text-align: center;
    width:100%;
}

.small_profile_picture {
    height: 100px;
    width: auto;
    border-radius: 50px;
}

/*INDEX SITE*/
/*margin zewnatrz*/

.navbar {
    background-color: #0B64AC;
    margin:0px;
    padding: 20px;
    height: 130px;
    color:whitesmoke;

}

a:link, a:visited, a:hover {
    text-decoration: none;
    color:whitesmoke;
}

.index-left {
    float:left;
    width:25%;
    position: relative;
}

.index-middle {
    float:left;
    width:50%;
    position: relative;
}

.index-right {
    float:left;
    width:25%;
    position: relative;
}
.form-search {
    width:230px;
    float:left;
    postion:relative;
    padding-left: 300px;
}

.post {
    color:whitesmoke;
}
.post-input{
    background-color: #212F3D ;
    border: none;
    border-radius: 20px;
    padding: 0px 20px 0px 20px;
    width:25em;
    height:5em;
    font-size:14px;
    color:whitesmoke;
    font-family: 'Montserrat', sans-serif;


}

.publish-post-button {
  background: #2927E2;
  border-radius: 999px;
  box-shadow: #2927e2 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}

