@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

:root {
    --bg-color: #151728;
    --font: 'Montserrat', sans-serif;
    --font-color: #5c5d71;
    --bg-behind: #ccc8db;
}

html {
    font-family: var(--font);
    color: white;

}

body {
    color: white;
    padding:0px;
    margin:0px;
    height:100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #24273b;
    /*background-image: linear-gradient(to right top, #301a5a, #28215e, #202762, #152c65, #073167);*/
}

/*LOGIN, REGISTER SITE*/

.PyProfile_main_website {
    height:200px;
    width: auto;
}
#PyProfile-logo-register {
    text-align: center;
    padding-top:3em;
}
#PyProfile-logo {
    text-align: center;
    padding-top:5em;
}

.like-btn-without-bg {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    color:white;
    cursor:pointer;
    font-size: 15px;
}

input[type=submit], .button-standard{
    background-color: #212F3D ;
    border-radius: 20px;
    margin: 5px 20px 5px 20px;
    width:auto;
    height:40px;
    font-size:14px;
    color:whitesmoke;
    font-family: 'Montserrat', sans-serif;

}

input[type=submit].register-button {
    background-color: #212F3D ;
    border-radius: 20px;
    margin: 5px 25px 5px 25px;
    width:150px;
    height:40px;
    font-size:17px;
    color:whitesmoke;
    font-family: 'Montserrat', sans-serif;

}

#login-button {
    background-color: var(--bg-color);
    border: 1px solid #0d181d;
    color: #fff;
    border-radius: 10px;
    padding: 10px 20px;
    margin-left: auto;
    box-shadow: 0 0 20px #212F3D;
    cursor: pointer;
}

input[type=password], input[type=text], input[type=text].my-firstname-class, input[type=text].my-mobile-class,
    input[type=text].my-lastname-class, input[type=email] {
    border:none;
    outline:none;
    display:inline-block;
    height:54px;
    vertical-align:middle;
    position:relative;
    border-radius:22px;
    width:220px;
    box-sizing:border-box;
    margin-left:10px;
    padding:0 18px;
    color:whitesmoke;
    background-color: var(--bg-color);
    margin-top:10px;
    font-size:15px;

}
textarea {
    border:none;
    outline:none;
    display:inline-block;
    height:auto;
    vertical-align:middle;
    position:relative;
    border-radius:22px;
    width:auto;
    box-sizing:border-box;
    margin-left:10px;
    padding:5px 18px;
    color:whitesmoke;
    background-color: var(--bg-color);
    margin-top:10px;
    font-size:15px;
    resize: none;

}

.center {
    text-align:center;
}
#register-div {
    color:white;
    margin: 3em 0em 0em 0em;
    float:left;
    text-align: center;
    width:100%;
}

.login-div {
    padding-top:5em;
    float:left;
    text-align: center;
    width:100%;
    color:white;
}

.reset-password-div {
    padding-top:5em;
    color:white;
    float:left;
    text-align: center;
    width:100%;
    box-sizing: border-box;
}


.small_profile_picture {
    height: 50px;
    width: auto;
    border-radius: 50px;
}

.mediun_profile_picture {
    height: 150px;
    width: auto;
    border-radius: 50px;
}
/*INDEX SITE*/
/*margin zewnatrz*/

.navbar {
    background-color: var(--bg-color);
    height: 6em;
    width: 100%;
    float:left;
    margin-bottom: 2em;
    padding-top:0px;
    margin-top:0px;

}

.input-search-friends {
    float:left;
    background-color: var(--bg-color);
    color: whitesmoke;
    width:15em;
    height:4em;
    font-size: 18px;
    border: none;
    border-radius: 30px;
    outline: none;

}

input[type=text].my-reply-content-class {
    border:solid 1px gray;
    outline:none;
    display:inline-block;
    height:54px;
    vertical-align:middle;
    position:relative;
    border-radius:22px;
    width:220px;
    box-sizing:border-box;
    margin-left:10px;
    padding:0 18px;
    color:whitesmoke;
    background-color: var(--bg-color);
    margin-top:10px;
    font-size:15px;
}

#search-friends {
    float:left;
    width: 30em;
    height: 6em;
    padding: 1em 25em 0em 25em;
}
.right-side-navbar {
    width: 20em;
    float:left;
    color: var(--font-color);
    font-size: 15px;
}

a:link, a:visited, a:hover {
    text-decoration: none;
    color: whitesmoke;
}

.index-left {
    float:left;
    width: 20%;
    height:60em;

}

.index-middle {
    float:left;
    width: 50%;
    height:60em;
    padding: 0 5% 0 5%;
    color:whitesmoke;

}

.index-right {
    float:right;
    text-align: center;
    width: 20%;
    height:60em;
    color:whitesmoke;
    padding: 20px 0px 0px 50px;
    box-sizing: border-box;
    background-color: var(--bg-color);



}



.post {
    background-color: var(--bg-color);
    color:white;
    padding:10px;
    width: 45em;
    height:auto;
    margin: 0em 8em 0em 8em;
    font-size: 15px;
    box-sizing: border-box;

}

.post-text {
    box-sizing: border-box;
}

#post-author {
    float:left;
    box-sizing: border-box;
}

#add-post-div {
    background-color: var(--bg-color);
    border-radius: 12px;
    height: 5em;
    width: 35em;
    padding:10px;
    margin: 0% 0% 5% 20%;


}
.edit-post {
    box-sizing: border-box;
    float:left;
    text-align:center;
    width:100%;
}
input[type=text].my-post-content-class {
    background-color: var(--bg-color);
    border-radius: 15px;
    border:none;
    height: 2em;
    width: 30em;
    outline: none;
    text-align: left;
    float:left;
    font-size: 18px;
    color: whitesmoke;



}
.publish-post-button {
    background-color: #1b86f9;
    box-shadow: 0 0 20px #1b86f9;
    border: none;
    color: #fff;
    border-radius: 4px;
    padding: 10px 20px;
    margin-bottom: 10px;
    cursor: pointer;


}


#input-div-etc {
    float:left;
    width:100%;
}

#emoji-button-etc {
    float:right;

}

#write-a-reply {
    font-size: 14px;
    background-color: #474851;
    border:none;
    border-radius: 20px;
    color:white;
    height: 30px;
    width: 160px;
    outline: none;
    padding-left: 15px;
}

#search-users-div {
    float:left;
    width: 100%;
    height:auto;
    text-align:center;
    font-family: var(--font);
    color:gold;
    padding-top: 3em;

}

/*3 dots*/
.three-dots:after {
    cursor: pointer;
    color: white;
    content: '\2807';
    font-size: 20px;
    padding: 0 5px;
    box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

a div {
  padding: 2px;
}

.dropdown {
    box-sizing: border-box;
    float:left;
    /*right: 10px;*/
    background-color: #1b86f9;
    box-shadow: 0 0 10px #1b86f9;
    outline: none;
    opacity: 0;
    z-index: -1;
    max-height: 0;


}

.dropdown-navbar {
    box-sizing: border-box;
    float:left;
    /*right: 10px;*/
    background-color: var(--bg-color);
    box-shadow: 0 0 10px var(--bg-color);
    outline: none;
    opacity: 0;
    z-index: -1;
    max-height: 0;

}
.dropdown-container{
    float:right;
}
.dropdown-container:focus {
  outline: none;

}

.dropdown-container:focus .dropdown, .dropdown-container:focus .dropdown-navbar {
  opacity: 1;
  z-index: 100;
  max-height: 100vh;

}



/*Input type file*/
