    <main>
		<!-- Services -->
		<section class="container my-4">
			<div class="row">
				<div class="col-3">
				</div>
				<div class="col-9">
					<h3 class="mb-4 border-bottom pb-1">Notifications <span class="badge bg-primary totalunread">123</span></h3>
					<span class="ajaxRes"></span>
					<ul class="list-group notif-list">
					<ul class="list-group">
					<ul class="notif-list">

					</ul>
					</ul>
					</ul>
				</div>
			</div>
		</section>
		<!-- End -->
    </main>
    <!-- End -->

<script type="text/javascript">
	const webSocket = new WebSocket(
			'ws://'
			+ window.location.host
			+ '/ws/notifications/'
	);

	websocke.onopen=function(event){
		websocket.send(JSON.stringify({
			'message': 'From Client'
		}));
	}
	websocket.onmessage=function(event){
		var _data=JSON.parse(event.data);
		console.log();
		$('.notif-list').append('<li class="list-group-item">'+_data.notif+'<span class="btn btn-info ' +
				'btn-sm float-end">MarkAsRead</span></li>');
		$(".totalunread").text(_data.total);
	}
	webSocket.onclose=function(event){
		console.log('Closed');
	}
</script>